<div class="table-responsive">
  <table class="table table-striped">
  	<tr>
  		<th>Title</th>
    	<th>Description</th>
  	</tr>
  	<tr>
  		<td> 1. Setup </td>
  		<td>
  			<ul>
  				<li>How to setup your Coursemology Account</li>
  				<li>Setup the profile for your account</li>
  			</ul>
  		</td>
  	</tr>
  	<tr>
  		<td>2. Coursemology Settings</td>
  		<td>
  			<ul>
  				<li>Manage the Coursemology Instance's settings</li>
  			</ul>
  		</td>
  	</tr>
  	<tr>
  		<td>3. Course</td>
  		<td>
  			<ul>
  				<li>How to create a new course</li>
  				<li>Add new (students/instructors) to the course</li>
  				<li>Manage the users within the course</li>
  			</ul>
  		</td>
  	</tr>
  	<tr>
  		<td>4. Assessments</td>
  		<td>
  			<ul>
  				<li>How to create a new Assessment</li>
  				<li>How to create different questions in the assessment</li>
  				<li>What the interface looks like to the student and instructor</li>
  			</ul>
  		</td>
  	</tr>
  	<tr>
  		<td>5. Submissions</td>
  		<td>
  			<ul>
  				<li>Grading of submissions</li>
  				<li>How to make inline code review of student's code</li>
  				<li>Handling comments from students</li>
  			</ul>
  		</td>
  	</tr>
  	<tr>
  		<td>6. Additional</td>
  		<td>
  			<ul>
  				<li>Creating Announcements</li>
  				<li>Managing course material for the students to download</li>
  				<li>Creating achievements</li>
  				<li>Creating a new lesson plan (timeline for your course)</li>
  				<li>Creating a forum for discussion</li>
  				<li>Creating a survey to monitor feedback from students</li>
  			</ul>
  		</td>
  	</tr>
  </table>
</div>