<div class="PageNavigation row">
	<div class="col-xl-3 col-md-3 col-xs-3">
		{% if previous_url %}
    	<a class="prev" href="{{previous_url}}">&laquo; {{previous_title}}</a>
  	{% else %}
  		&nbsp;
  	{% endif %}
	</div>
	<div class="col-xl-4 col-md-4 col-xs-4 col-xl-auto col-md-auto col-xs-auto">
		&nbsp;
	</div>
	<div class="col-xl-3 col-md-3 col-xs-3">
	  {% if next_url %}
	    <a class="next" href="{{next_url}}">{{next_title}} &raquo;</a>
  	{% else %}
  		&nbsp;
  	{% endif %}
	</div>
</div>
