<div class="sidebar col-lg-2 col-md-3 col-sm-4">
  <h3 class="sidebar-title">Content</h3>
  <ol class="nav">
    <li>
      <a href="#">1. Setup</a>
      <ul>
        <li>
          <a href="{{ site.baseurl }}/setup/create-account"
            >1a. Create Account</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/setup/account-settings"
            >1b. Account Settings</a
          >
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/coursemology/settings">2. Admin Settings</a>
    </li>
    <li>
      <a href="#">3. Course</a>
      <ul>
        <li>
          <a href="{{ site.baseurl }}/course/create-course"
            >3a. Create Course</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/course/add-manage-users"
            >3b. Add/Manage Users</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/course/components"
            >3c. Components Settings</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="#">4. Assessments</a>
      <ul>
        <li>
          <a href="{{ site.baseurl }}/assessments/create-assessment"
            >4a. Create Assessments</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/assessments/create-question"
            >4b. Create MCQ/MRQ</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/assessments/create-programming-question"
            >4c. Create Programming Question</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/assessments/student-instructor-view"
            >4d. Student/Instructor's View</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/assessments/timeline"
            >4e. Multiple Reference Timeline</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/assessments/statistics">4f. Statistics</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/assessments/timed-assessment"
            >4g. Timed Assessment</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="#">5. Submissions</a>
      <ul>
        <li>
          <a href="{{ site.baseurl }}/submissions/notifications"
            >5a. Submission Notifications</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/submissions/manual-grading"
            >5b. Manual Grading</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="#">6. Codaveri</a>
      <ul>
        <li>
          <a href="{{ site.baseurl }}/codaveri/feedback"
            >6a. Automated Feedback</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/codaveri/livehelp">6b. Live Help</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/codaveri/generate"
            >6c. Problem Generation</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="#">7. Additional</a>
      <ul>
        <li>
          <a href="{{ site.baseurl }}/additional/announcements"
            >7a. Announcements</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/additional/course-material"
            >7b. Course Material</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/additional/achievements"
            >7c. Achievements</a
          >
        </li>
        <li>
          <a href="{{ site.baseurl }}/additional/lesson-plan"
            >7d. Lesson Plan</a
          >
        </li>
        <li><a href="{{ site.baseurl }}/additional/forum">7e. Forums</a></li>
        <li><a href="{{ site.baseurl }}/additional/survey">7f. Surveys</a></li>
      </ul>
    </li>
  </ol>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(".nav").navgoco();
  });
</script>
