<div class="sidebar">
	<h3 class="sidebar-title">Content</h3>
	<ul class="nav">
	    <li><a href="#">1. Setup</a>
	        <ul>
	            <li><a href="{{ site.github.url }}/setup/create-account">1a. Create Account</a></li>
	            <li><a href="{{ site.github.url }}/setup/account-settings">1b. Account Settings</a></li>
	        </ul>
	    <li><a href="{{ site.github.url }}/coursemology/settings">2. Coursemology Settings</a></li>
	    <li><a href="#">3. Course</a>
	    	<ul>
	    		<li><a href="{{ site.github.url }}/course/create-course">3a. Create Course</a></li>
	    		<li><a href="{{ site.github.url }}/course/add-manage-users">3b. Add/Manage Users</a></li>
	    	</ul>
	    </li>
	    <li><a href="#">4. Assessments</a>
	    	<ul>
	    		<li><a href="{{ site.github.url }}/assessments/create-assessment">4a. Create Assessments</a></li>
	    		<li><a href="{{ site.github.url }}/assessments/create-question">4b. Create MCQ/MRQ</a></li>
	    		<li><a href="{{ site.github.url }}/assessments/create-programming-question">4c. Create Programming Question</a></li>
	    		<li><a href="{{ site.github.url }}/assessments/student-instructor-view">4d. Student/Instructor's View</a></li>
	    	</ul>
	    </li>
	    <li><a href="#">5. Submissions</a>
	    	<ul>
	    		<li><a href="{{ site.github.url }}/submissions/grading">5a. Grading</a></li>
	    		<li><a href="{{ site.github.url }}/submissions/code-review-comments">5b. Code Review & Comments</a></li>
	    	</ul>
	    </li>
	    <li><a href="#">6. Additional</a>
	    	<ul>
	    		<li><a href="{{ site.github.url }}/additional/announcements">6a. Announcements</a></li>
	    		<li><a href="{{ site.github.url }}/additional/course-material">6b. Course Material</a></li>
	    		<li><a href="{{ site.github.url }}/additional/achievements">6c. Achievements</a></li>
	    		<li><a href="{{ site.github.url }}/additional/lesson-plan">6d. Lesson Plan</a></li>
	    		<li><a href="{{ site.github.url }}/additional/forum">6e. Forums</a></li>
	    		<li><a href="{{ site.github.url }}/additional/survey">6f. Surveys</a></li>
	    	</ul>
	    </li>
	</ul>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('.nav').navgoco();
});
</script>
